fastapi==0.128.0
uvicorn[standard]==0.40.0
langchain==1.2.7
langchain-openai==1.1.7
langchain-community==0.4.1
langchain_milvus==0.3.3
langchain-text-splitters==1.1.0
pymilvus==2.6.7
milvus-lite==2.5.1
python-dotenv==1.2.1
pydantic==2.12.5
Requests==2.32.5
